//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/lb.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/home/jonas/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/home/jonas/.local/share/rofi/themes/rounded-purple-dark.rasi"
//@theme "/home/jonas/.local/share/rofi/themes/rounded-nord-dark.rasi"
@theme "/home/jonas/.local/share/rofi/themes/rounded-blue-dark.rasi"
